<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAL0Ic34uM3NaWVSUkT03wyFTBVMOuUVo0</string>
	<key>GCM_SENDER_ID</key>
	<string>86438317972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onepercentchallenge.onepercentchallenge</string>
	<key>PROJECT_ID</key>
	<string>one-percent-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>one-percent-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86438317972:ios:3351a412dd6d3a0f5e8981</string>
	<key>DATABASE_URL</key>
	<string>https://one-percent-challenge-default-rtdb.firebaseio.com</string>
</dict>
</plist>